{% extends "base.html" %}

{% block content %}
    <h1>Welcome to ASCII Rogue Maker {{ current_user.username }} </h1>
    <h1>Navigation Bar</h1>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('routes.signup') }}">Sign-Up</a>
    <a href="{{ url_for('routes.login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('routes.user', username=current_user.username) }}">Profile</a>
    <a href="{{ url_for('routes.logout') }}">Logout</a>
    <a href="{{ url_for('routes.game_editor')}}">Game Editor</a>
    {% endif %}
{% endblock %}